/* Contenedor principal */
.tamagotchi-container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  width: 600px; /* Ancho ajustado */
  margin: 0 auto;
}

.tamagotchi-container h1{
  font-size: 30px; /* Ajusta este valor para que coincida con el de Mascota */
  color: #001529; /* Color similar al del header para que se vea uniforme */
}

/* Estructura del layout principal */
.tamagotchi-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;

}

/* Ventana del Tamagotchi */
.tamagotchi-ventana {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

/* GIF del Tamagotchi */
.gif-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.gif-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Sección de estadísticas */
.tamagotchi-stats {
  flex: 1;
  padding-left: 20px;
  text-align: left;
}

.tamagotchi-stats h2 {
  margin-bottom: 10px;
}

.stats p {
  font-size: 18px;
}

/* Datos de sensores */
.sensores {
  margin-top: 10px;
}

/* Acciones (botones) */
.tamagotchi-acciones {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.actions button {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
